<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    
    <!-- Title Tag -->
    <title>资讯管家</title>
    <!-- <<Mobile Viewport Code>> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=6">
            
    <!-- <<Attched Stylesheets>> -->
    <link rel="stylesheet" href="/css/main999.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/media.css">
    <script type="text/javascript" src="/javascripts/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>    
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/carousel.js"></script>
    <script type="text/javascript" src="/javascripts/js999.js"></script>

    <script type="text/javascript">

    </script>

</head>

<body>
  
  <nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
          <div class="navbar-header" >
            
            <a class="navbar-brand" href="login" style="font-size: 24px; height: 60px;">P2P资讯</a>
<!--             <button type="button" class="navbar-toggle btn-lg" data-toggle="collapse" data-target="#navbar-collapse1">
            <i class="glyphicon glyphicon-search" style="color:#337ab7;"></i>
            </button>
        
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse1"  >
            <div class="navbar-form pull-right">
                <div class="input-group" style="max-width:470px;">
                  <input type="text" class="form-control" placeholder="请输入搜索内容" name="srch-term" id="srch-term">
                  <div class="input-group-btn">
                    <button id="btn_search" class="btn btn-default btn-primary" ><i class="glyphicon glyphicon-search"></i></button>
                  </div>
                </div>
            </div>
          </div>   -->
    </div> 
  </nav>

  <div class="searchheader">
    <div class="p">共为您搜索到<span style="color:red;"><%=tabsearch.length%></span>条内容：</div>
    <ul class="list-group" >      
      <% 
      if (!error){
          for (var i = tabsearch.length - 1; i >= 0; i--){ 
            var searchterm = tabsearch[i]._source;    
      %> 
      <script>
        console.log("script");
        var n = searchterm.content.indexof(keyword);
        var content = searchterm.content.slice(n,n+10);
      </script>
      <li class="list-group-item" style="margin-top: 20px; box-shadow: 0 0 0.4rem #888;"><div style="font-size: 19px;"><a href="#"><u><%-searchterm.title%> </u></a></div><div style="font-size: 16px;"><%-content%></div></li>
      <%
        }
      }
      else {
      %>
        <div><%= error %></div>
      <%
      }
      %>
    </ul>
  </div>


  
  <footer>
    <div class="hr">
      <hr>
    </div>
    <div class="text">
      <p>© Copyright </p>
    </div>
  </footer>

</body>
</html>
