<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    
    <!-- Title Tag -->
    <title>资讯管家</title>
    <!-- <<Mobile Viewport Code>> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            
    <!-- <<Attched Stylesheets>> -->



</head>

<body>
  <div><p>djfia</p><p>djkfa</p></div>
  
  <hr>




  <footer>
    <div>
      <hr>
      <div>
        <p>© Copyright </p>
      </div>
    </div>
  </footer>

  

</body>
</html>
